Flask
Flask-Bcrypt
Flask-Cors
Flask-Migrate
Flask-SQLAlchemy
click
tabulate 
pandas
PyGitHub
gitpython
requests
rich
pybraries
codeowners
numpy
elasticsearch
elasticsearch-dsl>=7.0.0,<8.0.0
PyYAML
# python3 -m pip install --upgrade https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.12.0-py3-none-any.whl

brew install ta-lib
python3 -m pip install ta-lib

brew install hdf5
brew install c-blosc
export TA_INCLUDE_PATH="$(brew --prefix ta-lib)/include"
export TA_LIBRARY_PATH="$(brew --prefix ta-lib)/lib"
export HDF5_DIR=/opt/homebrew/opt/hdf5 
export BLOSC_DIR=/opt/homebrew/opt/c-blosc
python3 -m pip install tables