-e git+https://github.com/chaoss/grimoirelab-perceval.git@master
-e git+https://github.com/chaoss/grimoire-elk.git@master
-e git+https://github.com/chaoss/grimoire-kidash.git@master
Flask
Flask-Bcrypt
Flask-Cors
Flask-Migrate
Flask-SQLAlchemy
click