.chart{
    margin: 10px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    flex: 1;
}
.chartTitle{
    margin-bottom: 20px;
}